In [1]:
import numpy as np
import pandas as pd
data=pd.read_csv('op.csv')
print(data.head())

   NOC  Gold  Silver  Bronze  Total
0  USA    40      44      42    126
1  CHN    40      27      24     91
2  JPN    20      12      13     45
3  AUS    18      19      16     53
4  FRA    16      26      22     64

In [7]:
data['Gold'].value_counts()
data['Silver'].value_counts()

0     25
1     23
2     11
3     11
7      5
4      4
13     2
5      2
44     1
27     1
12     1
19     1
26     1
22     1
9      1
6      1
Name: Silver, dtype: int64

In [8]:
one_hot_encoded_data = pd.get_dummies(data, columns = ['Gold', 'Silver'])
print(one_hot_encoded_data)

    NOC  Bronze  Total  Gold_0  Gold_1  Gold_2  Gold_3  Gold_4  Gold_5  \
0   USA      42    126       0       0       0       0       0       0
1   CHN      24     91       0       0       0       0       0       0
2   JPN      13     45       0       0       0       0       0       0
3   AUS      16     53       0       0       0       0       0       0
4   FRA      22     64       0       0       0       0       0       0
..  ...     ...    ...     ...     ...     ...     ...     ...     ...
86  SIN       1      1       1       0       0       0       0       0
87  CIV       1      1       1       0       0       0       0       0
88  ROT       1      1       1       0       0       0       0       0
89  PER       1      1       1       0       0       0       0       0
90  SVK       1      1       1       0       0       0       0       0

    Gold_6  ...  Silver_6  Silver_7  Silver_9  Silver_12  Silver_13  \
0        0  ...         0         0         0          0          0
1        0  ...         0         0         0          0          0
2        0  ...         0         0         0          1          0
3        0  ...         0         0         0          0          0
4        0  ...         0         0         0          0          0
..     ...  ...       ...       ...       ...        ...        ...
86       0  ...         0         0         0          0          0
87       0  ...         0         0         0          0          0
88       0  ...         0         0         0          0          0
89       0  ...         0         0         0          0          0
90       0  ...         0         0         0          0          0

    Silver_19  Silver_22  Silver_26  Silver_27  Silver_44
0           0          0          0          0          1
1           0          0          0          1          0
2           0          0          0          0          0
3           1          0          0          0          0
4           0          0          1          0          0
..        ...        ...        ...        ...        ...
86          0          0          0          0          0
87          0          0          0          0          0
88          0          0          0          0          0
89          0          0          0          0          0
90          0          0          0          0          0

[91 rows x 37 columns]

In [18]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder


data = {
    'NOC': ['USA', 'FRA', 'JPN', 'AUS'],
    'gold': [1, 2, 3, 4], 
    'Total': ['E', 'B', 'BE', 'G']
}


df = pd.DataFrame(data)

print(f"op:\n{df}\n")


categorical_columns = df.select_dtypes(include=['object']).columns.tolist()

encoder = OneHotEncoder(sparse_output=False)


one_hot_encoded = encoder.fit_transform(df[categorical_columns])

one_hot_df = pd.DataFrame(one_hot_encoded, columns=encoder.get_feature_names_out(categorical_columns))

df_encoded = pd.concat([df, one_hot_df], axis=1)

df_encoded = df_encoded.drop(categorical_columns, axis=1)

print(f"Encoded op data:\n{df_encoded}")

op:
   NOC  gold Total
0  USA     1     E
1  FRA     2     B
2  JPN     3    BE
3  AUS     4     G

NameError: name 'encoder' is not defined

In [21]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

data = {
    'NOC': ['USA', 'FRA', 'JPN', 'AUS'],
    'gold': [1, 2, 3, 4], 
    'Total': ['E', 'B', 'BE', 'G']
}

df = pd.DataFrame(data)
print(f"Original DataFrame:\n{df}\n")

categorical_columns = df.select_dtypes(include=['object']).columns.tolist()

encoder = OneHotEncoder(sparse=False)

one_hot_encoded = encoder.fit_transform(df[categorical_columns])

one_hot_df = pd.DataFrame(one_hot_encoded, columns=encoder.get_feature_names_out(categorical_columns))

df_encoded = pd.concat([df, one_hot_df], axis=1)

df_encoded = df_encoded.drop(categorical_columns, axis=1)

print(f"Encoded DataFrame:\n{df_encoded}")

Original DataFrame:
   NOC  gold Total
0  USA     1     E
1  FRA     2     B
2  JPN     3    BE
3  AUS     4     G

Encoded DataFrame:
   gold  NOC_AUS  NOC_FRA  NOC_JPN  NOC_USA  Total_B  Total_BE  Total_E  \
0     1      0.0      0.0      0.0      1.0      0.0       0.0      1.0
1     2      0.0      1.0      0.0      0.0      1.0       0.0      0.0
2     3      0.0      0.0      1.0      0.0      0.0       1.0      0.0
3     4      1.0      0.0      0.0      0.0      0.0       0.0      0.0

   Total_G
0      0.0
1      0.0
2      0.0
3      1.0